In [ ]:
### JAYDEEP ANANDA CHILE {B105}

In [3]:
7**4

2401

'''What is 7 to the power of 4?'''

'''Split this string:
        s = "Hi there Yogesh!"
 into a list. '''

In [6]:
s = "Hi there Yogesh!"
s.split()

['Hi', 'there', 'Yogesh!']

'''
Given the variables:

planet = "Earth"
diameter = 12742
   Use .format() to print the following string: 

The diameter of Earth is 12742 kilometers.'''

In [10]:
planet = "Earth"
diameter = 12742
print("the diameter of {} is {} km.".format(planet,diameter))

the diameter of Earth is 12742 km.

'''Given this nested list, use indexing to grab the word "hello"
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]'''

In [12]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

'''Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky 
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}'''

In [14]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

''' What is the main difference between a tuple and a list? '''

# Tuple is immutable

''' Create a function that grabs the email website domain from a string in the form: 

user@domain.com
So for example, passing "user@domain.com" would return: domain.com '''

In [22]:
def fun1(x):
    return x.split("@")[1]
fun1('jaydeepch07@gmail.com')

'gmail.com'

In [24]:
fun1('hvfugvd@yahoo.com')

'yahoo.com'

''' Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. '''

In [26]:
x = 'containDogs'
def x (i):
    print('dog' in i.lower().split())
x('i love my doG')

True

In [28]:
x('shbxiashvicbsj DOG hbaichbn')

True

In [30]:
x('i have bsvxhsbxhsjkbnkdoghjsxbiahbc')

False

''' Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.'''

In [32]:
def countDog(i):
     i.lower().split()
     return i.count('dog')
countDog('dog dog dog dog dog ')

5

In [34]:
countDog('DOgdogDOG')

1

In [36]:
def count_dog(s):
    c=0
    for v in s.lower().split():
        if v=='dog':
            c=c+1
    print(c)

In [38]:
count_dog('DOg dog DOG')

3

'''You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.'''

In [40]:
def police_caught(s,b):
    if b:
        s=s-5
    else:
        s=s
    if s>80:
        return "big ticket"
    elif 61<s>80:
        return "small ticket"
    else:
        return "no ticket"

In [42]:
police_caught(81,True)

'no ticket'

In [44]:
police_caught(81,False)

'big ticket'

In [46]:
police_caught(50,False)

'no ticket'

'''
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse'''

In [48]:
n1 = input("enter a number - ") 
n2 = int(n1[::-1])             ##converting into integer because we cant reverse a number in typecasting...
n3 = str(int(n1)+int(n2))      ##converting into integer 
while n3!=n3[::-1]:
    n3=str(int(n3)+int(n3[::-1]))
    print("first number is - ",n3)
    print("rverse number is - ",n3[::-1])
print("palindrome is - ",n3)

enter a number -  89

first number is -  968
rverse number is -  869
first number is -  1837
rverse number is -  7381
first number is -  9218
rverse number is -  8129
first number is -  17347
rverse number is -  74371
first number is -  91718
rverse number is -  81719
first number is -  173437
rverse number is -  734371
first number is -  907808
rverse number is -  808709
first number is -  1716517
rverse number is -  7156171
first number is -  8872688
rverse number is -  8862788
first number is -  17735476
rverse number is -  67453771
first number is -  85189247
rverse number is -  74298158
first number is -  159487405
rverse number is -  504784951
first number is -  664272356
rverse number is -  653272466
first number is -  1317544822
rverse number is -  2284457131
first number is -  3602001953
rverse number is -  3591002063
first number is -  7193004016
rverse number is -  6104003917
first number is -  13297007933
rverse number is -  33970079231
first number is -  47267087164
rverse number is -  46178076274
first number is -  93445163438
rverse number is -  83436154439
first number is -  176881317877
rverse number is -  778713188671
first number is -  955594506548
rverse number is -  845605495559
first number is -  1801200002107
rverse number is -  7012000021081
first number is -  8813200023188
rverse number is -  8813200023188
palindrome is -  8813200023188

'''Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19'''

In [79]:
def find_number():
    for c in range(10):
     b = c + 2  
     a = b + 2 
     d = c - 2  
     e = d + 2 
     if 0 <= a <= 9 and 0 <= b <= 9 and 0 <= c <= 9 and 0 <= d <= 9 and 0 <= e <= 9:
            if a + b + c + d + e == 19:
                 if c + d + e == a:
                    return F"The number is: {a}{b}{c}{d}{e}"

    return "No such number exists"

print(find_number())

The number is: 75313