In [1]:
import numpy as np
import pandas as pd

In [5]:
jay=pd.read_csv('Salaries.csv')

C:\Users\jayde\AppData\Local\Temp\ipykernel_25760\3714296754.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  jay=pd.read_csv('Salaries.csv')

In [7]:
jay

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [7]:
jay.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [9]:
jay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [13]:
jay.describe()

                  Id       TotalPay  TotalPayBenefits           Year  Notes
count  148654.000000  148654.000000     148654.000000  148654.000000    0.0
mean    74327.500000   74768.321972      93692.554811    2012.522643    NaN
std     42912.857795   50517.005274      62793.533483       1.117538    NaN
min         1.000000    -618.130000       -618.130000    2011.000000    NaN
25%     37164.250000   36168.995000      44065.650000    2012.000000    NaN
50%     74327.500000   71426.610000      92404.090000    2013.000000    NaN
75%    111490.750000  105839.135000     132876.450000    2014.000000    NaN
max    148654.000000  567595.430000     567595.430000    2014.000000    NaN

#### What is the highest amount of OvertimePay in the dataset ? **

In [25]:
print(jay['OvertimePay'].dtype)

object

In [27]:
jay['OvertimePay'] = pd.to_numeric(jay['OvertimePay'], errors='coerce')

In [29]:
jay['OvertimePay']

0              0.00
1         245131.88
2         106088.18
3          56120.71
4           9737.00
            ...
148649         0.00
148650          NaN
148651          NaN
148652          NaN
148653         0.00
Name: OvertimePay, Length: 148654, dtype: float64

In [31]:
jay['OvertimePay'].max()

245131.88

#### What is the average BasePay ?

In [40]:
print(jay['BasePay'].dtype)

object

In [42]:
jay['BasePay']=pd.to_numeric(jay['BasePay'],errors='coerce')

In [44]:
jay['BasePay']

0         167411.18
1         155966.02
2         212739.13
3          77916.00
4         134401.60
            ...
148649         0.00
148650          NaN
148651          NaN
148652          NaN
148653         0.00
Name: BasePay, Length: 148654, dtype: float64

In [46]:
jay['BasePay'].mean()

66325.4488404877

 #### What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).

In [72]:
employee_name = 'JOSEPH DRISCOLL'
title = jay[jay['EmployeeName'] == employee_name]['JobTitle'].values[0]

print("job title is " ,title)

job title is  CAPTAIN, FIRE SUPPRESSION

#### How much does JOSEPH DRISCOLL make (including benefits)?

In [95]:
employee_name = 'JOSEPH DRISCOLL'
employee_data = jay[jay['EmployeeName'] == employee_name]
TotalPayBenefits = 	employee_data['TotalPayBenefits'].fillna(0).values[0]

In [93]:
TotalPayBenefits

270324.91

#### What is the name of highest paid person (including benefits)?

In [128]:
jay['TotalPayBenefits'] = jay['TotalPayBenefits'].fillna(0)
HighestPaidPerson = jay.loc[jay['TotalPayBenefits'].idxmax()]

In [130]:
HighestPaidPerson

Id                                                                1
EmployeeName                                         NATHANIEL FORD
JobTitle             GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                   167411.18
OvertimePay                                                     0.0
OtherPay                                                  400184.25
Benefits                                                        NaN
TotalPay                                                  567595.43
TotalPayBenefits                                          567595.43
Year                                                           2011
Notes                                                           NaN
Agency                                                San Francisco
Status                                                          NaN
TotalCompensation                                         567595.43
Name: 0, dtype: object

 #### What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?

In [124]:
jay['TotalPayBenefits'] = jay['TotalPayBenefits'].fillna(0)
LowestPaidPerson = jay.loc[jay['TotalPayBenefits'].idxmin()]

In [126]:
LowestPaidPerson

Id                                       148654
EmployeeName                          Joe Lopez
JobTitle             Counselor, Log Cabin Ranch
BasePay                                     0.0
OvertimePay                                 0.0
OtherPay                                -618.13
Benefits                                   0.00
TotalPay                                -618.13
TotalPayBenefits                        -618.13
Year                                       2014
Notes                                       NaN
Agency                            San Francisco
Status                                       PT
TotalCompensation                       -618.13
Name: 148653, dtype: object

In [132]:
#### its negative

#### What was the average (mean) BasePay of all employees per year? (2011-2014)

In [135]:
filtered_data= jay[(jay['Year'] >= 2011) & (jay['Year'] <= 2014)]
average = filtered_data.groupby('Year')['BasePay'].mean()

In [137]:
average

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

#### How many unique job titles are there?

In [142]:
jay['JobTitle'].nunique()

2159

#### What are the top 5 most common jobs?

In [145]:
jay['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

#### How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [148]:
data_2013 = jay[jay['Year'] == 2013]
job_title_counts = data_2013['JobTitle'].value_counts()
job_titles_with_one_person = job_title_counts[job_title_counts == 1]

num_job_titles_with_one_person = job_titles_with_one_person.count()

In [150]:
num_job_titles_with_one_person

202

#### How many people have the word Chief in their job title?

In [161]:
chief_titles = jay[jay['JobTitle'].str.contains('Chief')]
num_chief_titles = chief_titles.shape[0]

In [163]:
num_chief_titles

423

#### Is there a correlation between length of the Job Title string and Salary?

In [168]:
jay['JobTitleLength'] = jay['JobTitle'].str.len()
correlation = jay['JobTitleLength'].corr(jay['TotalPayBenefits'])

In [170]:
correlation

-0.03687844593260676